{% extends 'user_layout.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row py-5">
        <div class="col-lg-6">
            <h1 class="display-5" style="border-bottom: 2px solid #198754;">About E-commerce</h1>
            <p class="mt-5 font-weight-normal" style="word-spacing: 5px;">
                Welcome to E-commerce, your one-stop destination for all your shopping needs. At E-commerce, we are dedicated to providing you with an unparalleled online shopping experience, offering a wide range of high-quality products at competitive prices. Our user-friendly platform ensures a seamless and secure shopping journey, while our customer-centric approach guarantees exceptional service. Whether you're looking for the latest gadgets, trendy fashion, or everyday essentials, E-commerce has you covered. Shop with us today and discover the convenience and joy of online shopping at its finest.
            </p>
            <p class="mb-5 font-weight-normal" style="word-spacing: 5px;">
                Fast forward again, and we have this, the 116610LV, which really doubles down on the whole green theme by adding a green dial. With the ceramic of the bezel giving the green hue a silvery tone, and the dial gleaming with a sunburst flash under the right light, the Rolex Submariner LV may not exude quite the same hardy resilience as its originator — but as a celebration? It’s near-on perfect.            </p>
        </div>
        <div class="col-lg-6 my-auto">
            <img class="img-fluid" src="{{ url_for('static', filename = 'a.jpg') }}" alt="...">
        </div>
    </div>
</div>

{% endblock %}