{% extends 'user_layout.html' %}

{% block content %}

    <!-- Header-->
    <header class="bg-success py-5 mt-5">
        <div class="container px-4 px-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>


    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    
                {% include "products.html" %}
                
            </div>
            <div class="container-fluid text-center">

                {% for page in paginated_products.iter_pages(left_edge=1, left_current=5, right_edge=1, right_current=5) %}
                    {% if page %}
                        {% if paginated_products.page == page %}
                            <a href="{{ url_for('users.home', page=page) }}" class="btn btn-success mx-2">{{ page }}</a>
                        {% else %}
                            <a href="{{ url_for('users.home', page=page) }}" class="btn btn-outline-success mx-2">{{ page }}</a>
                        {% endif %}
                    {% else %}
                        <span class="text-success">...</span>
                    {% endif %}
                {% endfor %}

            </div>

        </div>
    </section>
    
{% endblock %}