{% extends 'user_layout.html' %}

{% block content %}

    <!-- Header-->
    <header class="bg-success py-5 mt-5">
        <div class="container px-4 px-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>


    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    
                {% for product in paginated_products.items %}
    
                    <div class="col mb-5">
                        <div class="card h-100 bg-light">
                            <!-- Product image-->
                            <img class="card-img-top" src=" {{ url_for('static', filename = 'images/' + product.picture) }} " alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    ${{ product.price }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
    
                {% endfor %}
            </div>
            <div class="container-fluid text-center">

                {% for page in paginated_products.iter_pages(left_edge=1, left_current=1, right_edge=1, right_current=1) %}
                    {% if page %}
                        {% if paginated_products.page == page %}
                            <a href="{{ url_for('users.home', page=page) }}" class="btn btn-success mx-2">{{ page }}</a>
                        {% else %}
                            <a href="{{ url_for('users.home', page=page) }}" class="btn btn-outline-success mx-2">{{ page }}</a>
                        {% endif %}
                    {% else %}
                        <span class="text-success">...</span>
                    {% endif %}
                {% endfor %}

            </div>

        </div>
    </section>
    
{% endblock %}