{% extends 'admin_layout.html' %}

{% block content %}


{% if paginated_searched_items.items%}

  <h1 class="my-4">Results for "{{ search_term }}"</h1>

  <table class="table table-striped table-dark mt-4">

    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        {% for item in paginated_searched_items.items %}
            <tr id="divLink">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.stock }}</td>
                <td>{{ item.price }}</td>
                <td><a class="btn btn-outline-primary" href="{{url_for('updateProduct', id=item.id)}}">Edit</a></td>
            </tr>
        {% endfor %}

    </tbody>

  </table>
    {% for page in paginated_searched_items.iter_pages(left_edge=1, left_current=1, right_edge=1, right_current=1) %}
        {% if page %}
            {% if paginated_searched_items.page == page %}
                <a href="{{ url_for('adminSearch', search_term=search_term, page=page) }}" class="btn btn-dark">{{ page }}</a>
            {% else %}
                <a href="{{ url_for('adminSearch', search_term=search_term, page=page) }}" class="btn btn-outline-dark">{{ page }}</a>
            {% endif %}
        {% else %}
            <span class="text-dark">...</span>
        {% endif %}
    {% endfor %}

{% else %}
    <h1 class="my-4">No item for "{{ search_term }}"</h1>
{% endif %}

{% endblock %}